/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --black-color: rgba(17, 17, 17, 1);
  --blue-color: rgba(121, 106, 230, 1);
  --dark-gray-color: rgba(181, 181, 181, 1);
  --dark-green-color: rgba(99, 206, 145, 1);
  --gray-color: rgba(217, 217, 217, 1);
  --green-color: rgba(94, 230, 125, 1);
  --pink-color: rgba(242, 111, 191, 1);
  --primary-color: rgba(161, 117, 229, 1);
  --primary-dark-color: rgba(76, 27, 127, 1);
  --primary-light-color: rgba(190, 161, 247, 1);
  --super-white-color: rgba(255, 255, 255, 1);
  --white-color: rgba(250, 250, 250, 1);
  color: var(--black-color);
}

.cls-1 {
  fill: var(--primary-color);
}

@media (prefers-reduced-motion: reduce) {

  *,
  .animate,
  .animate-entrance,
  .animate__animated {
    -webkit-animation: none !important;
    animation: none !important;
  }

}


html {
  overflow-y: scroll;
}

h1,
.h1 {
  /* Header 1 */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  margin-block: 2.5rem;
}

h2,
.h2 {
  /* Header 2 */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
}

h3,
.h3 {
  /* Header 3 */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4375rem;
}

h4,
.h4 {
  /* Header 4 */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

body,
.body,
.body1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;

  background-color: var(--white-color);
}


.button {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--white-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  border: none;
}

.button {
  background: var(--primary-light-color);
  -webkit-transition: background-color 0.1s, color 0.1s, border-color 0.1s;
  -o-transition: background-color 0.1s, color 0.1s, border-color 0.1s;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

.button:hover {
  background: var(--primary-color);
}

.button:active {
  background: var(--primary-dark-color);
}

.button.outlined {
  background: transparent;
  color: var(--primary-light-color);
  border: 2px solid var(--primary-light-color);
}

.button.outlined:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.button.outlined:active {
  color: var(--primary-dark-color);
  border: 2px solid var(--primary-dark-color);
}

.button.outlined.gray {
  border-color: var(--gray-color);
  color: var(--gray-color);
}

.button.outlined.gray:hover {
  color: var(--white-color);
  background-color: var(--gray-color);
}

.button.outlined.gray:active {
  background-color: var(--dark-gray-color);
  border-color: var(--dark-gray-color);
}

input[type='text'],
input[type='email'] {
  border: none;
  background-color: rgb(242, 242, 242);
  color: rgba(0, 0, 0, 0.7);
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  padding-inline: 15px;
  height: 3rem;
  font-size: 1.25rem;
  border: rgb(242, 242, 242) 2px solid;
  -webkit-transition: border-color 0.1s;
  -o-transition: border-color 0.1s;
  transition: border-color 0.1s;
}

input.filled-input {
  border-color: var(--primary-color);

}

input[type='text']:focus,
input[type='email']:focus {
  border-color: var(--primary-dark-color);
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35)
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35)
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35)
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35)
}

input::placeholder {
  color: rgba(0, 0, 0, 0.35)
}

#main {
  position: relative;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10rem;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.body2 {
  /* Body 2*/

  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

#app-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* Corresponds to white color */
  background-color: rgba(250, 250, 250, 0.7);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-weight: bold;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;
}

#logo {
  width: 180px;
  padding: 20px
}

#nav-bar>ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px
}

#nav-bar>ul>li {
  display: block;
  list-style: none;
}

.nav-item {
  text-decoration: none;
  position: relative;
  color: var(--primary-color);
  place-items: center;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.nav-item:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.nav-item:active {
  color: var(--black-color)
}


#title-block {
  height: 100vh;
  position: relative;
  top: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#title {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 900;
  margin: 0;
  height: 3.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#animated-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#animate-container {
  height: 3.625rem;
  overflow: hidden;
  display: inline-block;
}

#animated-products>span {
  display: block;
}

#animated-products>span:nth-child(1),
#animated-products>span:nth-child(6) {
  background-color: #ff8400;
  background: -webkit-gradient(linear, left top, right top, from(#ee284b), color-stop(#ef2538), color-stop(#f12124), color-stop(#f22c1d), color-stop(#f43b1a), color-stop(#f54a16), color-stop(#f75a13), color-stop(#f86b0f), color-stop(#fa7d0b), color-stop(#fc9008), color-stop(#fda304), to(#ffb800));
  background: -o-linear-gradient(left, #ee284b, #ef2538, #f12124, #f22c1d, #f43b1a, #f54a16, #f75a13, #f86b0f, #fa7d0b, #fc9008, #fda304, #ffb800);
  background: linear-gradient(90deg, #ee284b, #ef2538, #f12124, #f22c1d, #f43b1a, #f54a16, #f75a13, #f86b0f, #fa7d0b, #fc9008, #fda304, #ffb800);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
}

#animated-products>span:nth-child(2) {
  background-color: #135b78;
  background: -webkit-gradient(linear, right top, left top, from(#34e89e), color-stop(#23e5a8), color-stop(#1bd7b0), color-stop(#1ac4b1), color-stop(#18b1af), color-stop(#17929e), color-stop(#15758b), to(#135b78));
  background: -o-linear-gradient(right, #34e89e, #23e5a8, #1bd7b0, #1ac4b1, #18b1af, #17929e, #15758b, #135b78);
  background: linear-gradient(270deg, #34e89e, #23e5a8, #1bd7b0, #1ac4b1, #18b1af, #17929e, #15758b, #135b78);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
}

#animated-products>span:nth-child(3) {
  background-color: #6190e8;
  background: -webkit-gradient(linear, right top, left top, from(#6190e8), to(#a7bfe8));
  background: -o-linear-gradient(right, #6190e8, #a7bfe8);
  background: linear-gradient(270deg, #6190e8, #a7bfe8);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
}

#animated-products>span:nth-child(4) {
  background-color: #8014d8;
  background: -webkit-gradient(linear, left top, right top, from(#c33764), color-stop(#cb398d), color-stop(#d23cb9), color-stop(#cd3eda), color-stop(#ab40e2), color-stop(#8642ea), color-stop(#5e45f1), to(#475af9));
  background: -o-linear-gradient(left, #c33764, #cb398d, #d23cb9, #cd3eda, #ab40e2, #8642ea, #5e45f1, #475af9);
  background: linear-gradient(90deg, #c33764, #cb398d, #d23cb9, #cd3eda, #ab40e2, #8642ea, #5e45f1, #475af9);
  background: -o-radial-gradient(0% 50%,
      92.13% 1692.86%,
      #c33764, #cb398d, #d23cb9, #cd3eda, #ab40e2, #8642ea, #5e45f1, #475af9);
  background: radial-gradient(92.13% 1692.86% at 0% 50%,
      #c33764, #cb398d, #d23cb9, #cd3eda, #ab40e2, #8642ea, #5e45f1, #475af9);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
}

#animated-products>span:nth-child(5) {
  background-color: #30e8bf;
  background: -webkit-gradient(linear, left top, right top, from(#ff8235), color-stop(#fcc534), color-stop(#ebf834), color-stop(#a6f533), color-stop(#62f232), color-stop(#31ef43), color-stop(#31eb82), to(#30e8bf));
  background: -o-linear-gradient(left, #ff8235, #fcc534, #ebf834, #a6f533, #62f232, #31ef43, #31eb82, #30e8bf);
  background: linear-gradient(90deg, #ff8235, #fcc534, #ebf834, #a6f533, #62f232, #31ef43, #31eb82, #30e8bf);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
}

#start-circle-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#start-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 10vh;
  min-width: 100%;
  min-height: 100vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 100px;
}

.circle-container {
  height: 100vh;
  width: 100vh;
  border-radius: 1000vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.circle-container.left {
  margin-left: -50vh;
}

.circle-container.right {
  margin-right: -50vh;
}

.bg-circle {
  height: 97vh;
  width: 97vh;
  /* border-radius: 1000vh; */
  min-height: 500px;
  min-width: 500px;
  background-position: center center;
  background-size: cover;
}

@-webkit-keyframes circleanimation {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

@keyframes circleanimation {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

#left-circle {
  -webkit-animation: circleanimation 5.1s linear infinite;
  animation: circleanimation 5.1s linear infinite;
  background-image: url("./circles/circ-left-xl.png");
}

#right-circle {
  -webkit-animation: circleanimation 4.9s reverse linear infinite;
  animation: circleanimation 4.9s reverse linear infinite;
  background-image: url("./circles/circ-right-xl.png");
}

@media only screen and (max-height:1000px) {
  #left-circle {
    background-image: url("./circles/circ-left-l.png");
  }

  #right-circle {
    background-image: url("./circles/circ-right-l.png");
  }
}

@media only screen and (max-height:720px) {
  #left-circle {
    background-image: url("./circles/circ-left-m.png");
  }

  #right-circle {
    background-image: url("./circles/circ-right-m.png");
  }
}


@media only screen and (max-height:500px) {
  #left-circle {
    background-image: url("./circles/circ-left-s.png");
  }

  #right-circle {
    background-image: url("./circles/circ-right-s.png");
  }
}

#services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  place-items: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 1em;
}

#services>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#services>*:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.service-cards-container {
  max-width: 1240px;
  margin-inline: 1.5rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.service-icon {
  width: 192px;
  height: 192px;
}

.card {
  background-color: var(--super-white-color);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 32px 20px;
}

.card.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card.img-container {
  padding: 20px;
}

.card.hoverable {
  position: relative;
}


#main-service {
  padding-block: 60px;
}

.animate-entrance {
  background-color: red;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  min-width: 240px;
  opacity: 0;
}

.service-card.visible {
  opacity: 1;
}

.service-card h4 {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.service-card p {
  margin: 0;
}

.service-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.service-card-text>p {
  text-align: center;
}

#journey-img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.amico {
  max-width: 600px;
  min-width: 300px;
  width: 100%
}

.double-sided-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 1240px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  padding-inline: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#prototyping>* {
  opacity: 0;
  color: var(--white-color)
}

@media screen and (max-width: 900px) {
  .double-sided-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .double-sided-block>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .double-sided-block>*:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

.double-sided-block-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.img-text {
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.img-text>h1 {
  margin-bottom: 0;
}

.img-text>p {
  margin-top: 0;
}

.double-sided-block-container>h1 {
  text-align: center;
}

#stack-items-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 20px;
  max-width: 1180px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 636px) {
  #stack-items-container {
    width: 580px;
  }
}


@media screen and (min-width: 936px) {
  #stack-items-container {
    width: 880px;
  }
}

@media screen and (min-width: 1237px) {
  #stack-items-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}


#techstack>h1 {
  text-align: center;
  color: var(--white-color);
}

.card.stack-item {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.stack-item {
  height: 280px;
  width: 280px;
  border-radius: 30px;
  background: var(--super-white-color);
  padding: 0;
  padding-inline: 30px;
  gap: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

.stack-item.visible {
  opacity: 1;
}

.stack-item:last-child {
  background-color: var(--primary-color);
}

.techstack-icon {
  width: 100px;
  height: 100px;
}

.stack-title {
  margin: 0;
  margin-top: 10px;
}

.stack-item:nth-of-type(1) .stack-title {
  color: #1AA0FF;
}

.stack-item:nth-of-type(2) .stack-title {
  color: #FE5786;
}

.stack-item:nth-of-type(3) .stack-title {
  color: #4DD9A4;
}

.stack-item:nth-of-type(4) .stack-title {
  color: #1AA0FF
}

.stack-item:nth-of-type(5) .stack-title {
  color: #DB64FF
}

.stack-item:nth-of-type(6) .stack-title {
  color: #2CC9A0
}

.stack-item:nth-of-type(7) .stack-title {
  color: #FE5786
}

#contact-us-stack-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px
}

#contact-us-button {
  background: var(--white-color);
  color: var(--primary-light-color);
}

#contact-us-button:hover {
  color: var(--primary-color);
}

#contact-us-button:active {
  color: var(--primary-dark-color);
}

#something-missing {
  color: var(--white-color);
}

#team-qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-quality {
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 12px 24px;
  color: var(--super-white-color);
  opacity: 1;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.team-quality:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(#2ebf91), color-stop(#31c1a9), color-stop(#33c3c1), color-stop(#36b2c5), color-stop(#3a9ec6), color-stop(#408bc6), color-stop(#4579c5), color-stop(#4b6ac5), color-stop(#505cc4), color-stop(#5b56c4), color-stop(#705bc3), to(#8360c3));
  background: -o-linear-gradient(left, #2ebf91, #31c1a9, #33c3c1, #36b2c5, #3a9ec6, #408bc6, #4579c5, #4b6ac5, #505cc4, #5b56c4, #705bc3, #8360c3);
  background: linear-gradient(90deg, #2ebf91, #31c1a9, #33c3c1, #36b2c5, #3a9ec6, #408bc6, #4579c5, #4b6ac5, #505cc4, #5b56c4, #705bc3, #8360c3);
}

.team-quality:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#a175e5), color-stop(#ab74e6), color-stop(#b674e7), color-stop(#c173e9), color-stop(#cd73ea), color-stop(#d872eb), color-stop(#e472ec), color-stop(#ed71ea), color-stop(#ef71e0), color-stop(#f070d5), color-stop(#f170ca), to(#f26fbf));
  background: -o-linear-gradient(left, #a175e5, #ab74e6, #b674e7, #c173e9, #cd73ea, #d872eb, #e472ec, #ed71ea, #ef71e0, #f070d5, #f170ca, #f26fbf);
  background: linear-gradient(90deg, #a175e5, #ab74e6, #b674e7, #c173e9, #cd73ea, #d872eb, #e472ec, #ed71ea, #ef71e0, #f070d5, #f170ca, #f26fbf);
}

.team-quality:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), color-stop(#f5a318), color-stop(#f49718), color-stop(#f48a17), color-stop(#f47e16), color-stop(#f37215), color-stop(#f36515), color-stop(#f25914), color-stop(#f24d13), color-stop(#f24012), color-stop(#f13412), to(#f12711));
  background: -o-linear-gradient(left, #f5af19, #f5a318, #f49718, #f48a17, #f47e16, #f37215, #f36515, #f25914, #f24d13, #f24012, #f13412, #f12711);
  background: linear-gradient(90deg, #f5af19, #f5a318, #f49718, #f48a17, #f47e16, #f37215, #f36515, #f25914, #f24d13, #f24012, #f13412, #f12711);
}

#waves-wrapper {
  width: 100%;
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px auto;
  grid-template-rows: 200px auto;
}

#waves-container {
  width: 100%;
  height: 200px;
}

#waves>path {
  -webkit-filter: url(#shadow);
  filter: url(#shadow);
}

#contact-us-wrapper {
  width: 100%;
  background-color: var(--primary-light-color);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#contact-us-container {
  width: 100%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#mail-icon {
  width: 128px;
  height: 128px;
}

#email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#contact-us-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  line-height: 1;
  gap: 8px;
}

#contact-us-text>h2 {
  margin: 0;
}

#contact-form>h1 {
  margin: 0;
  margin-bottom: 0.75rem;
  text-align: center;
}

.contact-cards {
  border-radius: 60px;
  padding: 40px;
}

#contact-form-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

#form-buttons {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

#form-buttons :nth-child(1) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#form-buttons :nth-child(2) {
  width: 100%;
}

#mid-circle-frame {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  margin-top: calc(17rem + 250px);
  margin-bottom: 300px;
}

#mid-circles-wrapper {
  width: 133vw;
  height: 133vw;
  min-height: 2000px;
  max-height: 180vh;
  position: relative
}

#mid-circle-container {
  width: 133vw;
  height: 133vw;
  min-height: 2000px;
  max-height: 180vh;
}

.mid-circle {
  width: 133vw;
  height: 133vw;
  min-height: 2000px;
  max-height: 180vh;
  position: absolute;
  background-image: url('./circles/mid-circ-sm.png');
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 2000px) {
  .mid-circle {
    background-image: url('./circles/mid-circ-nm.png');
  }
}

.blurred-circles {
  transform: translateZ(0.0001px);
  filter: blur(60px);
  transform: translateZ(0)
}